<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
        
    <!--Action class-->
    <bean id="clientAction" class="com.project.location.action.ActionClient">
        <property name="clientService" ref="clientService" />
    </bean>
    <bean id="usersAction" class="com.project.location.action.ActionUsers">
        <property name="serviceUsers" ref="serviceUsers" />
    </bean>
    <bean id="stockAction" class="com.project.location.action.ActionStock">
        <property name="serviceStock" ref="serviceStock" />
    </bean>
    <bean id="commandeAction" class="com.project.location.action.ActionCommande">
        <property name="serviceStock" ref="serviceStock" />
        <property name="serviceCommande" ref="serviceCommande" />
    </bean>
    <!--service class-->   
    <bean id="serviceCaisse" class="com.project.location.service.ServiceCaisse">
        <property name="hibernateDao" ref="hibernateDao" />
        <property name="serviceCommande" ref="serviceCommande" />
    </bean>
    <bean id="serviceCaisseQuotient" class="com.project.location.service.ServiceCaisseQuotient">
        <property name="hibernateDao" ref="hibernateDao" />
        <property name="serviceUtil" ref="serviceUtil" />
    </bean>
    <bean id="clientService" class="com.project.location.service.ServiceClient">
        <property name="hibernateDao" ref="hibernateDao" />
    </bean>
    <bean id="serviceCommande" class="com.project.location.service.ServiceCommande">
        <property name="hibernateDao" ref="hibernateDao" />
        <property name="serviceStock" ref="serviceStock" />
        <property name="serviceUtil" ref="serviceUtil" />
    </bean>
    <bean id="serviceEntree" class="com.project.location.service.ServiceEntree">
        <property name="hibernateDao" ref="hibernateDao" />
        <property name="serviceStock" ref="serviceStock" />
        <property name="serviceUtil" ref="serviceUtil" />
    </bean>
    <bean id="serviceHistoriquePrixStock" class="com.project.location.service.ServiceHistoriquePrixStock">
        <property name="hibernateDao" ref="hibernateDao" />
    </bean>
    <bean id="serviceHistoriqueUser" class="com.project.location.service.ServiceHistoriqueUser">     
        <property name="hibernateDao" ref="hibernateDao" />
    </bean>
    <bean id="serviceSortie" class="com.project.location.service.ServiceSortie">     
        <property name="hibernateDao" ref="hibernateDao" />
        <property name="serviceStock" ref="serviceStock" />
        <property name="serviceUtil" ref="serviceUtil" />
    </bean>
    <bean id="serviceStock" class="com.project.location.service.ServiceStock">
        <property name="hibernateDao" ref="hibernateDao" />
        <property name="serviceUtil" ref="serviceUtil" />
    </bean>
    <bean id="serviceUsers" class="com.project.location.service.ServiceUsers">
        <property name="hibernateDao" ref="hibernateDao" />
    </bean>
    <bean id="serviceUtil" class="com.project.location.service.ServiceUtil">
        <property name="hibernateDao" ref="hibernateDao" />
    </bean>
    <!--hibernate dao-->
    <bean id="hibernateDao" class="com.project.location.dao.HibernateDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
        
    <!--Hibernate session factory--> 
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <!--<property name="dataSource" ref="dataSource" />-->
        <property name="configLocation" value="classpath:hibernate.cfg.xml" />     
    </bean>
	
        
</beans>
